In [1]:
import pandas as pd

In [2]:
df_siniestro_viales=pd.read_excel(r"C:\Users\Usuario\Desktop\ProyectosHenry\ProyectoIndividual02\homicidios.xlsx", sheet_name="HECHOS")

In [3]:
df_siniestro_victimas=pd.read_excel(r"C:\Users\Usuario\Desktop\ProyectosHenry\ProyectoIndividual02\DataSets\homicidios.xlsx", sheet_name="VICTIMAS")

In [24]:
df_siniestro_viales.shape

(696, 21)

In [8]:
df_siniestro_viales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Direcci贸n Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [9]:
filas_nulas=df_siniestro_viales.isnull().sum()
print(filas_nulas)

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Altura                   567
Cruce                    171
Direcci贸n Normalizada      8
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO                    0
dtype: int64

In [14]:
print(df_siniestro_viales.head(3))

          ID  N_VICTIMAS      FECHA  AAAA  MM  DD      HORA HH  \
0  2016-0001           1 2016-01-01  2016   1   1  04:00:00  4
1  2016-0002           1 2016-01-02  2016   1   2  01:15:00  1
2  2016-0003           1 2016-01-03  2016   1   3  07:00:00  7

                             LUGAR_DEL_HECHO TIPO_DE_CALLE  ...  Altura  \
0  AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ       AVENIDA  ...     NaN
1          AV GRAL PAZ  Y AV DE LOS CORRALES      GRAL PAZ  ...     NaN
2                         AV ENTRE RIOS 2034       AVENIDA  ...  2034.0

                                 Cruce  \
0  FERNANDEZ DE LA CRUZ, F., GRAL. AV.
1                  DE LOS CORRALES AV.
2                                  NaN

                               Direcci贸n Normalizada COMUNA  \
0  PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...      8
1               PAZ, GRAL. AV. y DE LOS CORRALES AV.      9
2                                ENTRE RIOS AV. 2034      1

                                XY (CABA)         pos x         pos y  \
0   Point (98896.78238426 93532.43437792)  -58.47533969  -34.68757022
1   Point (95832.05571093 95505.41641999)  -58.50877521  -34.66977709
2  Point (106684.29090040 99706.57687843)  -58.39040293  -34.63189362

    PARTICIPANTES VICTIMA    ACUSADO
0       MOTO-AUTO    MOTO       AUTO
1  AUTO-PASAJEROS    AUTO  PASAJEROS
2       MOTO-AUTO    MOTO       AUTO

[3 rows x 21 columns]

In [25]:
columnas_a_eliminar=["AAAA", "MM", "DD", "HORA", "Calle", "Altura", "Cruce", "Direcci贸n Normalizada", "XY (CABA)"]
df_siniestro_viales.drop(columns=columnas_a_eliminar, inplace=True)

In [26]:
filas_nulas=df_siniestro_viales.isnull().sum()
print(filas_nulas)

ID                 0
N_VICTIMAS         0
FECHA              0
HH                 0
LUGAR_DEL_HECHO    0
TIPO_DE_CALLE      0
COMUNA             0
pos x              0
pos y              0
PARTICIPANTES      0
VICTIMA            0
ACUSADO            0
dtype: int64

In [29]:
df_siniestro_viales.head(3)

,ID,N_VICTIMAS,FECHA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,8,-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,9,-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,7,AV ENTRE RIOS 2034,AVENIDA,1,-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO

In [30]:
nuevos_nombres={"HH": "HORA", "pos x":"POS X", "pos y": "POS Y"}
df_siniestro_viales.rename(columns=nuevos_nombres,inplace=True)

In [44]:
df_siniestro_viales.to_csv("siniestros_completos.csv", index=False)

----------------------------------------------------------------

In [4]:
df_siniestro_victimas.shape

(717, 10)

In [5]:
df_siniestro_victimas.columns

Index(['ID_hecho', 'FECHA', 'AAAA', 'MM', 'DD', 'ROL', 'VICTIMA', 'SEXO',
       'EDAD', 'FECHA_FALLECIMIENTO'],
      dtype='object')

In [6]:
filas_nulas_vict=df_siniestro_victimas.isnull().sum()
print(filas_nulas_vict)

ID_hecho               0
FECHA                  0
AAAA                   0
MM                     0
DD                     0
ROL                    0
VICTIMA                0
SEXO                   0
EDAD                   0
FECHA_FALLECIMIENTO    0
dtype: int64

In [7]:
df_siniestro_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [9]:
df_siniestro_victimas.head(2)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00

In [8]:
columnas_a_eliminar_vict=["AAAA","MM", "DD", "ROL", "SEXO"]
df_siniestro_victimas.drop(columns=columnas_a_eliminar_vict, inplace=True)

In [11]:
df_siniestro_victimas.head(3)

    ID_hecho      FECHA VICTIMA EDAD  FECHA_FALLECIMIENTO
0  2016-0001 2016-01-01    MOTO   19  2016-01-01 00:00:00
1  2016-0002 2016-01-02    AUTO   70  2016-01-02 00:00:00
2  2016-0003 2016-01-03    MOTO   30  2016-01-03 00:00:00

In [12]:
df_siniestro_victimas.to_csv("siniestros_victimas.csv", index=False)